<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hello, world!</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
</head>
<body>
  <h1>Hello, world!</h1>

  <div>
    <canvas id="myChart"></canvas>
  </div>

  <script>
    function setupChart(chartId) {
      const chart = document.getElementById(chartId);
      chart.width = window.innerWidth - 16;   // account for body margin
      chart.height = chart.width * 2 / 3;   // 3:2 chart ratio
      chart.style.background = 'lightgray';

      chart.plot = {};

      chart.plot.xMin = null;
      chart.plot.xWidth = 500;   // number of points to keep after xMin
      chart.plot.xMultiplier = chart.width / chart.plot.xWidth;

      chart.plot.yMin = 0;
      chart.plot.yMax = 1024;
      chart.plot.yMultiplier = chart.height / (chart.plot.yMax - chart.plot.yMin);

      return chart;
    }
    const myCanvas = setupChart('myChart');
    const myContext = myCanvas.getContext('2d');

    function drawScaledLine(chart, context, x0, y0, x1, y1) {
      const scaledX0 = (x0 - chart.plot.xMin) * chart.plot.xMultiplier;
      const scaledX1 = (x1 - chart.plot.xMin) * chart.plot.xMultiplier;

      const scaledY0  = chart.height - (y0 - chart.plot.yMin) * chart.plot.yMultiplier;
      const scaledY1  = chart.height - (y1 - chart.plot.yMin) * chart.plot.yMultiplier;

      context.beginPath();
      context.moveTo(scaledX0, scaledY0);
      context.lineTo(scaledX1, scaledY1);
      context.stroke();
    }

    function slideChart(context) {
      // https://stackoverflow.com/a/36337777
      context.globalCompositeOperation = 'copy';
      context.drawImage(context.canvas, -1, 0);
      context.globalCompositeOperation = 'source-over';
      context.imageSmoothingEnabled = false;
    }

    function getSocketEndpoint() {
      let endpoint = window.location.origin;
      endpoint = endpoint.replace('http://', 'ws://');
      endpoint = endpoint.replace('https://', 'wss://');
      return endpoint + '/sockets/output'
    }

    let currentCount = 0;
    let prevSignals = [];
    const ws = new WebSocket(getSocketEndpoint());
    ws.onmessage = function(event) {
      console.log(event);

      // parse each comma-separated packet into individual signals
      const signals = event.data.split(',');
      for (let index = 0; index < signals.length; index++) {
        signals[index] = parseFloat(signals[index]);
      }

      if (myCanvas.plot.xMin == null) {
        // set start time (xMin) if it hasn't already
        myCanvas.plot.xMin = currentCount;
      } else {
        // plot each signal
        for (let index = 0; index < signals.length; index++) {
          let prevSignalTime = currentCount - 1;
          let signalTime = currentCount;

          if (currentCount > myCanvas.plot.xWidth) {
            slideChart(myContext);
            prevSignalTime = myCanvas.plot.xWidth - 1;
            signalTime = myCanvas.plot.xWidth;
          }

          const prevSignalValue = prevSignals[index];
          const signalValue = signals[index];

          drawScaledLine(myCanvas, myContext, prevSignalTime, prevSignalValue,
              signalTime, signalValue);
        }
      }

      // increment count
      currentCount += 1;

      // keep a copy of the signals for plotting both ends of each line
      prevSignals = signals;
    };
  </script>
</body>
</html>